@{
    ViewData["Title"] = "UnderMaintainence";
}

<h1>Under Maintenance</h1>
<img src="images/undermaintenance.jpg" alt="Under Maintenance">
<p>We are currently updating this page. Please check back later.</p>
<a href="/" class="btn">Go to Home</a>
